**Scenario 2: Student Grades Analysis**

In [57]:
import numpy as np

grades = {}  # Dictionary to store student names and grades

# Function to add a student and their grade
def add_student(grades, name, grade):
    if name in grades:
        print(f"Student {name} already exists.")
        pass
    else:
        grades[name] = grade  # Store the grade associated with the student's name

# Function to calculate the average grade
def calculate_average_grade(grades):
    if grades:  # Check if the grades dictionary is not empty
        avg = np.mean(list(grades.values()))  # Convert grades to a list and calculate mean
        print(f"Average grade: {avg}")
    else:
        print("No grades available to calculate average.")
def find_highest_and_lowest_grade(grades):
    if grades:
        max_grade=max(list(grades.values()))
        print(f"Highest grade: {max_grade}")
        min_grade=min(list(grades.values()))
        print(f"lowest grade: {min_grade}")

In [58]:
add_student(grades, 'Alice', 85)
add_student(grades, 'Bob', 92)
add_student(grades, 'Bob', 92)
add_student(grades, 'Charlie', 78)
add_student(grades, 'Charlie', 78)
print(grades)
calculate_average_grade(grades)
find_highest_and_lowest_grade(grades)

Student Bob already exists.
Student Charlie already exists.
{'Alice': 85, 'Bob': 92, 'Charlie': 78}
Average grade: 85.0
Highest grade: 92
lowest grade: 78

In [59]:
add_student(grades, 'David', 88)
add_student(grades, 'Eva', 95)
add_student(grades, 'Frank', 67)
calculate_average_grade(grades)
find_highest_and_lowest_grade(grades)

Average grade: 84.16666666666667
Highest grade: 95
lowest grade: 67

**Scenario 3: Library Book Catalog**

In [53]:
catalog = []
def add_book(catalog,name,author,year_of_publish):
    book={"name":name,"author":author,"year":year_of_publish}
    catalog.append(book)

In [54]:
def find_books_by_author(catalog,author):
    print(f"Bokks By {author}-")
    for i in catalog:
        if(i['author']==author):
            print(f"--{i.get('name')} ({i.get("year")})")

In [55]:

add_book(catalog, 'To Kill a Mockingbird', 'Harper Lee', 1960)
add_book(catalog, '1984', 'George Orwell', 1949)
add_book(catalog, 'Animal Farm', 'George Orwell', 1945)
find_books_by_author(catalog, 'George Orwell')

Bokks By George Orwell-
--1984 (1949)
--Animal Farm (1945)

In [56]:
add_book(catalog, 'Pride and Prejudice', 'Jane Austen', 1813)
add_book(catalog, 'Sense and Sensibility', 'Jane Austen', 1811)
add_book(catalog, 'Moby-Dick', 'Herman Melville', 1851)
find_books_by_author(catalog, 'Jane Austen')

Bokks By Jane Austen-
--Pride and Prejudice (1813)
--Sense and Sensibility (1811)

**Scenario 4: Employee Record System**

In [163]:
import numpy as np
employees = []
def add_employee(employees,name,department,salary):
    employee_details={"name":name,"department":department,"salary":salary}
    employees.append(employee_details)

In [168]:
def find_employees_by_department(employees,department):
    print(f"Employees in {department}--")
    for employee in employees:
        if employee['department']==department:
            print(f"--{employee.get("name")}(${employee.get("salary")})")

In [169]:
def calculate_average_salary(employees):
    length=len(employees)
    sum=0
    if employees:
        for employee in employees:
            sum+=employee['salary']
        avg_salary=sum/length
        print(f"Average salary of Employees is:{avg_salary}")

In [170]:

add_employee(employees, 'Alice', 'HR', 60000)
add_employee(employees, 'Bob', 'IT', 75000)
add_employee(employees, 'Charlie', 'IT', 80000)
find_employees_by_department(employees, 'IT')
calculate_average_salary(employees)

Employees in IT--
--Bob($75000)
--Charlie($80000)
--Bob($75000)
--Charlie($80000)
Average salary of Employees is:74444.44444444444

In [171]:
add_employee(employees, 'David', 'Finance', 85000)
add_employee(employees, 'Emma', 'Finance', 90000)
add_employee(employees, 'Frank', 'Marketing', 65000)
find_employees_by_department(employees, 'Finance')
calculate_average_salary(employees)

Employees in Finance--
--David($85000)
--Emma($90000)
--David($85000)
--Emma($90000)
Average salary of Employees is:75833.33333333333

**Scenario 5: Online Shopping Cart**

In [174]:
cart = {}
def add_to_cart(cart,product_name,quantity,price):
    if product_name in cart:
        print(f"Product {product_name} already exists..")
    else:
        cart[product_name]={"quantity":quantity,"price":price}
def calculate_total_cost(cart):
    total = 0
    for product_name,item in cart.items():
            quantity = item["quantity"]
            price = item["price"]
            total += quantity * price
    print(f"Total cost:₹{total:.2f}")
def remove_from_cart(cart,product_name):
    if product_name in cart:
        del cart[product_name]
    print(f"Item {product_name} is removed..")

add_to_cart(cart, 'Phone', 1, 800)
add_to_cart(cart, 'Charger', 1, 50)
add_to_cart(cart, 'Tablet', 2, 500)
calculate_total_cost(cart)
remove_from_cart(cart, 'Charger')
calculate_total_cost(cart)

Total cost:₹1850.00
Item Charger is removed..
Total cost:₹1800.00